# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2025
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
name: Check End-to-End (On Demand)
# yamllint disable-line rule:truthy
on:
  push:
    paths:
      - "**.go"
      - "**.sh"
      - "!.github/*"
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  pull_request_review:
    types:
      - submitted
permissions: read-all
jobs:
  check-scripts-format:
    permissions:
      contents: read
    if: ( github.event_name == 'pull_request_review' && github.event.review.state == 'approved' ) || github.event_name != 'pull_request_review'
    name: Check scripts format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
        with:
          persist-credentials: false
      - name: Run the sh-checker
        uses: luizm/action-sh-checker@883217215b11c1fabbf00eb1a9a041f62d74c744 # 0.10.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SHFMT_OPTS: -i 4 -s
        with:
          sh_checker_shellcheck_disable: true
  functional-test:
    name: Check functional tests
    needs: check-scripts-format
    runs-on: vm-self-hosted
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
        with:
          persist-credentials: false
      - name: Run demo
        working-directory: ./scripts
        env:
          DEBUG: true
          PROVISION_PHASES: "install configure demo"
        run: ./main.sh
      - name: Export logs
        if: always()
        run: |
          newgrp docker <<EONG
          kind export logs --name k8s -v 4 ./_artifacts/logs
          EONG
      - name: Upload cluster logs
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # 6.0.0
        with:
          name: kind-logs-${{ github.run_id }}
          path: ./_artifacts/logs
